<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger</title>
    <link rel="stylesheet" href="/main.css" >
</head>
<body class="index">
    <h1 id="main">The Blogger</h1>
    <form action="/view" method="get"><input type="submit" value="view blogs" id="one"></form>
    <form action="/create" method="get"><input type="submit" value="create blogs" id="two"></form>
</body>
</html>