#main{
    text-align: center;
    background-color: blue;
    color: aquamarine;
}

.index{
    background-color: aqua;
}

#one,#two{
    background-color: aqua;
    color: blue;
    font-weight: 200;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
}